#
# ignore the build dir.
#
/build/

#
# ignore Visual Studio user prefs and build files.
#
*.suo
*.userprefs
/src/**/obj/
/src/**/[Bb]in
/src/**/[Dd]ebug*/
/src/**/[Rr]elease*/
/src/**/Packages/

#
# ignore some binary files.
#
/doc/images/
/doc/media/memes/
/doc/wow.png


#
# ignore packaging tempfiles.
#
/temp.c
/temp.s

